{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}
  <h1>Page not found</h1>
  <p>The page you are looking for could not be found. Please check the URL and try again.</p>
{% endblock %}
