{% extends 'base.html.twig' %}

{% block body %}
    <h1>Assign Abonnement to User</h1>

    {{ form_start(form) }}
        {{ form_row(form.abonnement) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}