{% extends 'back.html.twig' %}

{% block title %}New Evennement{% endblock %}

{% block body %}
    <h1>Create new Evennement</h1>
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ include('back/_form.html.twig') }}
    <p>Number of participants: {{ back.countParticipants() }}</p>


    <a href="{{ path('app_back_index') }}">back to list</a>
{% endblock %}
